/* header */
.header{
    width: 100%;
    height: 0.88rem;
    float: left;
    background:#FBFEFF;
    position: fixed;
    box-shadow: 0 0.03rem 0.43rem 0 rgba(41,167,255,0.13);
    z-index: 9;
}
body{
    background:#FBFEFF;
}
.header_w{
    width: 7.02rem;
    height: 100%;
    text-align: center;
    line-height: 0.88rem;
    margin: 0 auto;
    font-size: 0.38rem;
    color: #4ebbfe;
}
.header_w a .iconfont{
    font-size: 0.4rem;
    float: left;
    color: #4ebbfe;
    display: block;
}
/* content */
.address{
    width: 100%;
    float: left;
    margin-top: 0.88rem;
}
.address_w{
    width: 5.15rem;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    line-height: 0.9rem;
    position: relative;
}
.address_w .to{
    width: 100%;
    height: 2.86rem;
    float: left;
    border-bottom: 0.01rem solid #eef1f2;
}
.address_w .to span{
    color: #646666;
    font-size: 0.3rem;
    text-align: center;
    line-height: 4.8rem;
    font-weight: bold;
}
.address_w .to span{
    color: #646666;
}
.address_w .pul{
    width: 100%;
    height: 1.12rem;
    border-bottom: 0.01rem solid #eef1f2;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.address_w .pul .iconfont{
    font-size: 0.26rem;
    color: #34a2ff;
}
.address_w .pul .num{
    font-size: 0.22rem;
    color: #40b1ff;
    float: left;
    margin-left: 0.32rem;
    line-height: 1.12rem;
}
.address_w .pul input{
    width: 5rem;
    height: 1rem;
    float: left;
    padding-left: 0.2rem;
    color: #c9cbcc;
    border: none;
    margin-top: 0.07rem;
}
.address_w .pul input::-webkit-input-placeholder{
    color: #000000;
    opacity: 0.3;
    font-size: 0.22rem;
}
.address_w .pul .sure{
    width: 100%;
    height: 0.52rem;
    float: left;
    margin-top: 0.5rem;
}
.address_w .pul .sure a span{
    width: 1.32rem;
    height: 0.52rem;
    display: block;
    border-radius: 0.26rem;
    background: #e7f6ff;
    font-size: 0.2rem;
    line-height: 0.5rem;
    color: #4ebbfe;
    float: left;
    margin-left: 0.9rem;;
}
.address_w .pul .dian{
    width: 0.08rem;
    height: 0.08rem;
    background: #34a2ff;
    float: left;
    margin-top: 0.48rem;
    border-radius: 50%;
}
.address_w .pul .mess{
    margin-left: 0.3rem;
    font-size: 0.2rem;
    float: left;
    color: #c9c9c9;    
    line-height: 1rem;
}
.address_w .pul a{
    width: 1.56rem;
    height: 0.46rem;
    display: block;
    float: right;
    background: #37df73;
    font-size: 0.2rem;
    color: #fff;
    border-radius: 0.23rem;
    text-align: center;
    line-height: 0.46rem;
    margin-top: 0.3rem;
}
.address_w .but{
    width: 100%;
    height: 0.88rem;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.38rem;
}
.address_w .but a{
    width: 3.85rem;
    height: 0.5rem;
    display: block;
    float: left;
    border-radius: 0.25rem;
    color: #fff;
    line-height: 0.5rem;
    background: #4ebbfe;
    font-size: 0.2rem;box-shadow: 0px 5px 15px 0px 
    rgba(59, 172, 254, 0.4);
}
.menu{
    width: 100%;
    height: 0.3rem;
    float: left;
    margin-top: 0.32rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu input{
    float: left;
    color: #e7f6ff;
}
.menu span{
    text-align: center;
    line-height: 0.4rem;
    font-size: 0.22rem;
    float: left;
    color: #000000;
    opacity: 0.3;
}