body{
    background-color:#FBFEFF;
}
.dd{
    width: 7.5rem;
    height: 0.88rem;
    background: #FBFEFF;
    padding:0 0.24rem;
    font-size: 0.36rem;
    box-sizing: border-box;
    text-align: center;
    line-height: 0.88rem;
    color: #58BFFE;
    position: fixed;
}
.dd a{
    float: left;
    line-height: 0.88rem;
    font-size: 0.4rem;
    color: #36A8FE;
}
.ss{
    width: 7rem;
    height: 0.68rem;
    background: #58BFFE;
    padding: 0 0.24rem;
    box-sizing: border-box;
    margin: 0 auto;
    border-radius: 0.5rem;
    background-color: #ebf7ff;
    border: solid 3px rgba(55, 169, 254, 0.17);
}
.ss input{
    width: 5.5rem;
    height: 0.38rem;
    border-radius: 0.5rem;
    margin-top: 0.05rem;
    border:0;
    background-color: #ebf7ff;
    float: left;
}
.ss .kk{
    width: 0.8rem;
    height: 0.44rem;
    background: #A4E0BD;
    border-radius: 0.5rem;
    float: right;
    margin-top: 0.05rem;
    text-align: center;
}
.ss .kk i{
    font-size: 0.24rem;
    line-height: 0.44rem;
    color: #E5F6EC;
}
.fl{
    width: 7.5rem;
    height: 0.88rem;
    margin-top: 0.1rem;
    padding: 0 1.25rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fl .hz1{
    width: 1.36rem;
    height: 0.52rem;
    background: #E7F6FF;
    border-radius: 0.5rem;
    text-align: center;
    /* box-shadow:0 0.05rem 0.12rem 0 rgba(59,172,254,0.43); */
}
.fl .hz11{
    background: #36A8FE;
    box-shadow:0 0.05rem 0.12rem 0 rgba(59,172,254,0.43);
}
.fl .hz1 span{
    font-size: 0.24rem;
    line-height: 0.52rem;
    color: #3CACFE;
}
.fl .hz1 .hzi{
    color: #fff;
}
.gg{
    width: 7.5rem;
    height: 2.58rem;
    background: #fff;
    padding: 0 0.24rem;
    box-sizing: border-box;
}
.gg .gt{
    width: 7rem;
    height: 2.58rem;
}
.gg .gt img{
    width: 7rem;
    height: 2.58rem;
    border-radius: 0.1rem;
}
.rm{
    width: 7.5rem;
    height: 9.68rem;
    margin-top: 0.2rem;
    padding: 0 0.24rem;
    box-sizing: border-box;
}
.rm .rms{
    width: 7rem;
    height: 0.7rem;
    background: #fff;
    position: relative;
}
.rm .rms .dian{
    width: 0.1rem;
    height: 0.05rem;
    background: #34DA87;
    border-radius: 0.5rem;
    position: absolute;
    top: 0.35rem;
    
}
.rm .rms .zi1{
    margin-left: 0.2rem;
    line-height: 0.7rem;
    float: left;
    font-size: 0.34rem;
    color: #616D75;
    font-weight: bold;
}
.rm .rms .zi2{
    line-height: 0.7rem;
    font-size: 0.34rem;
    color: #59E19D;
    font-weight: bold;
    float: left;
}
.rm .rms span{
    float: right;
    line-height: 0.7rem;
    font-size: 0.24rem;
    color: #90D0FF;
}
.rm .rms i{
    font-size: 0.24rem;
}
.rm .rmx .ku{
    width: 3.28rem;
    height: 3.92rem;
    background: #fff;
    float: left;
    margin-left: 0.3rem;
}
.rm .rmx .ku1{
    margin-left: 0rem;
}
.rm .rmx .ku img{
    width: 2.4rem;
    height: 2.2rem;
    float: left;
}
.rm .rmx .ku .hz1 span{
    width: 0.6rem;
    height: 0.34rem;
    background: #37DF74;
    border-radius: 0.5rem;
    float: right;
    color: #fff;
    font-size: 0.24rem;
    text-align: center;
    line-height: 0.34rem;
    box-shadow:0 0.04rem 0.2rem 0 rgba(55,223,116,0.75);
}
.rm .rmx .ku .hz1{
    width: 3.28rem;
    height:2.2rem;
}
.rm .rmx .ku .hz2{
    width: 3.28rem;
    height: 0.87rem;
    background:#fff; 
    border-bottom: 0.01rem solid #F1F4F5;
}
.rm .rmx .ku .hz2 .qs{
    float: left;
    font-size: 0.3rem;
    font-weight: bold;
    color: #646666;
}
.rm .rmx .ku .hz2 .qs1{
    float: right;
    color: #FBB64B;
    font-size: 0.3rem;
}
.rm .rmx .ku .hz2 .qs2{
    float: left;
    color: #7D7F7F;
    font-size: 0.24rem;
    font-weight: bold;
}
.rm .rmx .ku .hz3{
    width: 3.28rem;
    height: 0.85rem;
}
.rm .rmx .ku .hz3 .zzt{
    width: 100%;
    height: 0.3rem;
    margin-top: 0.1rem;
    display: flex;
    align-items: center;
    line-height: 0.3rem;
}
.rm .rmx .ku .hz3 .dy{
    width: 0.06rem;
    height: 0.06rem;
    background: #44B5FF;
    border-radius: 50%;
}
.rm .rmx .ku .hz3 .dy1{
    width: 0.06rem;
    height: 0.06rem;
    background: #44B5FF;
    border-radius: 50%;
    margin-left: 0.2rem;
}
.rm .rmx .ku .hz3 .ys1{
    font-size: 0.24rem;
    color: #AFB1B2;
    font-weight: bold;
    margin-left: 0.2rem;
}
.rm .rmx .ku .hz3 .ys2{
    font-size: 0.24rem;
    color: #36A8FE;
    font-weight: bold;
}
.rm .rmx .ku .hz3 .ys3{
    font-size: 0.24rem;
    color: #C1E4FF;
}
.rm .rmx .ku .hz3 p{
    width: 1.23rem;
    height: 0.35rem;
    float: left;
    margin-top: 0.1rem;
    margin-left: 0.1rem;
    background: #E7F6FF;
    color: #36A8FE;
    font-size: 0.24rem;
    border-radius: 0.5rem;
    text-align: center;
    line-height: 0.35rem;
}
.dh{
    width:7.5rem;
    height:0.98rem;
    background: #F6FBFF;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    }
    .dh .dh1{
    width:0.94rem;
    height:0.98rem;
    }
    .dh .dh1 a{
    display:block;
    width:0.94rem;
    height:0.98rem;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    }
    .dh .dh1 i{
    font-size: 0.5rem;
    color: #BAE6FF;
    }
    .dh .dh1 span{
    font-size: 0.26rem;
    color: #BAE6FF;
    }