body{
    background:#FBFEFF;
}
/* 导航栏开始 */
.header{
    width:7.5rem;
    height:0.88rem;
    background:#fbfeff;
    padding:0 0.24rem;
    box-sizing:border-box;
    position:fixed;
    top:0;
    text-align:center;
    line-height:0.88rem;
    box-shadow: 0 0 0.26rem 0.04rem #ecf8ff;
    z-index:1 ;
}
.header span{
    font-size:0.36rem;
    color:#4ebbfe;
    /* margin-right:0.3rem; */
}
.header .iconzuojiantou{
    font-size:0.4rem;
    /* float:left; */
    color:#36a8fe;
    position: absolute;
    left:0.18rem;
    bottom:0;
    top:0;
    margin:auto;
}
/* 导航栏结束 */
/* 选项栏开始 */
.option{
    width:7.5rem;
    height:0.8rem;
    margin-top:0.88rem;
    padding:0 0.24rem;
    box-sizing:border-box;
    border-bottom:0.01rem solid #A2DEFF;
    position:relative;
}
.option .select{
    width:1.22rem;
    height:0.04rem;
    background:#36a8fe;
    position:absolute;
    bottom:0;
    left:2.9rem;
    bottom:-0.02rem;
}
.option .option2{
    width:6.83rem;
    height:100%;
    margin:0 0.18rem 0 0.01rem;
    line-height:0.8rem;
    display:flex;
    justify-content:space-between;
}
.option .option2 .font1{
    font-size: 0.24rem;
    color:#CED0D1;
}
.option .option2 .font2{
    color:#8a8c8d;
}
.option .option2 .font3{
}
/* 选项栏结束 */
/* 待接单开始 */
.ordertaking{
    width:7.5rem;
    height:1.8rem;
    padding:0 0.24rem;
    box-sizing:border-box;
    margin-top:0.5rem;
}
.ordertaking img{
    display:block;
    height:1.74rem;
    width:1.74rem;
    border-radius:0.2rem;
    float:left;
}
.ordertaking .right{
    float:right;
    width:5.02rem;
    height:100%;
} 
.ordertaking .right .font1{
    font-size:0.3rem;
    color:#646666;
    float:left; 
    font-weight:bold;
} 
.ordertaking .right .font2{
    font-size:0.26rem;
    color:#43c93e;
    float:right; 
}  
.ordertaking .right .time{
    margin-top:0.48rem;
    width:5rem;
    height:0.22rem;
    line-height:0.22rem;
    display:flex;
    align-items:center;
}
 .round{
    width:0.05rem;
    height:0.05rem;
    background:#44b5ff;
    box-shadow: 0 0.02rem 0.05rem 0 
        rgba(68, 181, 255, 0.43);
    border-radius:50%;
}
.ordertaking .right .time .font3{
    margin-left:0.07rem;
    font-size:0.22rem;
    color:#AFB1B2;
}
.ordertaking .right .time .font4{
    font-size:0.22rem;
    color:#36a8fe;
    font-weight:bold;
}
.ordertaking .right .money{
    width:100%;
    height:0.2rem;
    margin-top:0.82rem;
    line-height:0.2rem;
}
.ordertaking .right .money .left{
    height:100%;
    width:50%;
    float:left;
    display:flex;
    align-items:center;
}
.ordertaking .right .money .font5{
    font-size:0.26rem;
    color:#8a8c8d;
    margin-left:0.07rem
}
.ordertaking .right .money .righ{
    width: 0.4rem;
    float:right;
    position: relative;
}
.ordertaking .right .money .font6{
    font-size:0.24rem;
    color:#8a8c8d;
    margin-right:0.12rem;
    float:right;
}   
.round2{
    margin-right:0.08rem;
    background:#36d681;
    box-shadow: 0 0.02rem 0.05rem 0 
		rgba(54, 214, 129, 0.43);
}
/* 支付开始 */
.tail{
    width:7.5rem;
    height:2rem;
    padding:0 0.24rem;
    box-sizing:border-box;
    margin-top:0.47rem;
    overflow: hidden;
}
.tail .one{
    width:auto;
    height:0.24rem;
    line-height:0.24rem;
    float:right;
    display:flex;
    align-items:center;
}
.tail .one .round{
    width:0.06rem;
    height:0.06rem;
    background:#36d681;
    box-shadow: 0 0.02rem 0.05rem 0 
		rgba(54, 214, 129, 0.43);
    border-radius:50%;
    float:left;
}
.tail .one span{
    font-size:0.24rem;
    color:#fbb548;
    margin-left:0.17rem;
}
.tail .one2{
    width: 100%;
    height:0.22rem;
    line-height:0.22rem;
    margin-top:0.46rem;
}
.tail .one2 span{
    font-size:0.22rem;
    color:#B7B9BA;
    float:right;
}
.tail .one3{
    width:100%;
    height:0.6rem;
    margin-top:0.36rem;
}
.tail .one3 .samllbutton{
    width:1.96rem;
    height:0.6rem;
    background:#E7F6FF;
    border-radius:0.3rem;
    font-size:0.24rem;
    color:#3bacfe;
    line-height:0.6rem;
    text-align:center;
    float:right;
    margin-right:0.29rem;
    font-weight:bold;
}
.tail .one3 .Bigbutton{
    width:2.69rem;
    height:0.6rem;
    border-radius:0.3rem;
    background:-webkit-linear-gradient(left,#37e06f,#31d69a);
    box-shadow: 0 0.04rem 0.20rem 0 
		rgba(55, 223, 116, 0.75);
    font-size:0.24rem;
    color:#fff;
    line-height:0.6rem;
    text-align:center;
    float:right;
    font-weight:bold;
}
/* Tab栏开始 */
.dh{
    width:7.5rem;
    height:0.98rem;
    background: #F6FBFF;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
}
.dh .dh1{
    width:0.94rem;
    height:0.98rem;
}
.dh .dh1 a{
    display:block;
    width:0.94rem;
    height:0.98rem;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.dh .dh1 i{
    font-size: 0.5rem;
    color: #BAE6FF;
}
.dh .dh1 span{
    font-size: 0.26rem;
    color: #BAE6FF;
}