@import "fyhj.css";
*{
    margin:0;
    padding:0;
    list-style:none;
}
body{
    background-color:#fbfeff;
}

/* 头部开始 */
.header{
    width:7.5rem;
    height:0.88rem;
    background:#fbfeff;
    padding:0 0.24rem;
    box-sizing:border-box;
    position:fixed;
    top:0;
    text-align:center;
    line-height:0.88rem;
    box-shadow: 0 0 0.26rem 0.04rem #ecf8ff;
    font-size:0.36rem;
    color:#4ebbfe;
}
.header .iconzuojiantou{
    font-size:0.38rem;
    position: absolute;
    left:0.24rem;
    top:0.06rem;
    color:#36a8fe;
}
/*导航栏*/
.daoh{
    height:0.96rem;
    width:7.5rem;
    padding:0 0.24rem;
    box-sizing:border-box;
    margin-top:0.88rem;
    display:flex;
    justify-content:center;
}
.daoh .box{
    width:4.5rem;
    height:0.96rem;
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
}
.daoh .box .son{
    width:1.34rem;
    height:0.52rem;
    border-radius:0.4rem;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:0.2rem;
    color:white;
    background-color:#3bacfe;
}
.daoh .box .son1{
    background-color:#e7f6ff;
    color:#3bacfe;
    font-size:0.2rem;
}
