body{
    background: #FBFEFF;
}
.qwer{
    width: 7..5rem;
    height: 0.61rem;
}
.vbn{
    position: relative;
    width: 7.5rem;
    height: 3.63rem;
}

.vbn img{
    width: 7.5rem;
    height: 3.63rem;
}
.vbn .tutu{
    position: absolute;
    left: 0.24rem;
    bottom: -0.61rem;
}

.vbn .tutu img{
    width: 1.64rem;
    height: 1.64rem;
    border-radius: 0.1rem;
    box-shadow: 0 0.03rem 0.43rem 0
    rgba(41, 167, 255, 0.13);
   

}
.vbn .tutu span{
    font-size: 0.36rem;
    font-weight: bold;
    color: #36a8fe;
}

header{
    width:7.5rem;
    height:0.88rem;
    background-color:#FBFEFF;
    box-shadow: 0 0 0.26rem 0.04rem #ecf8ff;
    font-size:0.38rem;
    color:#4FBAFC;
    text-align:center;
    line-height:0.88rem;
    position:relative;
}
header .back{
    display:block;
    width:0.4rem;
    height:0.4rem;
    line-height:0.4rem;
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    left:0.24rem;
}
header .iconzuojiantou{
    font-size:0.4rem;
    color:#4FBAFC;
}

.duigou{
    height: 0.78rem;
  
    float:left;
    color: #3bacfe;
    display: flex;
    align-items: center;
}

.duigou .iconduigou{
    width: 0.24rem;
    height: 0.24rem;
    color: #37e06f;
        float: left;
}
.duigou .iconyou{
    width: 0.1rem;
    height: 0.17rem;
    float: left;
    color: #36a8fe;
}
.duigou span{
    font-size: 0.24rem;
   
    float: left;
}
.zhaiji .sangchu .iconfont{
    float: right;

}
.shuilon{
    width: 7.5rem;
    height: auto;
    font-weight: bold;
    padding: 0 0.25rem;
    box-sizing: border-box;
}
 .yuan{
    width: 0.24rem;
    height: 0.24rem;
    display:inline-block;
    background-color: #e7f6ff;
    margin-top: 0.77rem;
    float: left;
    border-radius: 50%;

}
.zuihou{
    line-height: 0.35rem;
    font-weight: bold;
    box-sizing: border-box;
    font-size: 0.26rem;
    color: #36a8fe;
 
}
.zuizui{
    margin-top: 0.23rem;
}

.zuihou span{
    color:#3bacfe;
   
}
.zuihou .span{
    color: #36a8fe;
    font-size: 0.3rem;
}
.zuihou .shangm{
    color: #8a8c8d;
  
    font-size: 0.22rem;
}

.yuanav{
   
    width: 0.05rem;
    height: 0.05rem;
    display: inline-block;
    background-color: #44b5ff;
    box-shadow: 0px 2px 5px 0px 
		rgba(68, 181, 255, 0.43);
  
   
    border-radius: 50%;
    margin-right: 0.09rem;
   
}
.yua{
    background-color: #36d681;
	box-shadow: 0px 2px 5px 0px 
		rgba(54, 214, 129, 0.43);
}

 .zuihou .yua{
    background: #36d681;
}
 .zuihou .sha{
    color: #fbb548;
}
.yunf{
    margin-top: 0.18rem;
    color: #3bacfe;
    opacity: 0.6;
    font-size:0.2rem;
}
.zuihou p{
    width: 3.8rem;
    height: 0.6rem;
    background: #31d69a;
    color: #ffffff;
    font-size: 0.24rem;
    border-radius: 0.3rem;
    float: right;
    line-height: 0.6rem;
    text-align: center;
    margin-top:0.2rem;
    position: absolute;
   bottom: 0.22rem;
    right: 0.24rem;
}
.zuiz{
    margin-top: 0.2rem;
    position: relative;
}
.zuiz .float{
    position: absolute;
    top: -0.02rem;
    right: -0.2rem;
   
    font-size: 0.24rem;
}
.zuiz .float .yuanav{
    margin-top: 0.18rem;
}
.zuiz .float span{
    color:#8a8c8d;
}
.zaa{
    width: 7.5rem;
    height: 0.78rem;
    padding: 0 0.25rem;
    box-sizing: border-box;
    color: #3bacfe;
    font-weight: bold;
    line-height: 0.78rem;
    font-size: 0.24rem;
   
}

.zaa .yuanav{
   
}

.zaa .sangchu span{
    float: right;
    margin-right: 0.16rem;
    font-size: 0.22rem;
}
.zaa .duigou .qxuan{
    font-size: 0.22rem;
    color: #000000;
    opacity: 0.4;
    margin-left: 0.2rem;
   
}
.wud{
    color: #36a8fe;
}
.tjian{
    color: #b9c9d2;
    float: right;
}
.bottom{
    width: 7.5rem;
    height: 1.08rem;
    padding: 0 0.25rem;
    box-sizing: border-box;
    background-color: #f1faff;
  
    line-height:1.08rem;
    position: absolute;
    bottom: 0;
    left: 0;
   
}
.bottom .yuanav{
    margin-top: 0.5rem;
}
.bottom .hej{
    font-size: 0.24rem;
    color: #3bacfe;
	opacity: 0.6;
}
.bottom .yiliuer{
    font-size: 0.36rem;
    color: #36a8fe;
}
.bottom p{
    width: 3.5rem;
    height: 0.6rem;
    background: #3bacfe;
    border-radius: 0.3rem;
    position: absolute;
    top:0.26rem;
    right: 0.36rem;
    line-height: 0.6rem;
    color: #ffffff;
    text-align: center;
}
.yuron{
    width: 2.13rem;
    height: 1.08rem;
    margin-left: 0.24rem;
    border-radius: 0.2rem;
    background:#F1FAFF;
    line-height: 1.08rem;
    color: #3bacfe;
    font-size: 0.24rem;
    text-align: center;
}
.jiaj{
    font-weight: bold;
}

.jiaj .jian{
    width: 1.18rem;
    height: 0.52rem;
    border-radius:0.26rem;
    background:#F1FAFF;
    display: inline-block;
    color: #3bacfe;
    text-align: center;
    line-height: 0.52rem;
    margin-left: 0.24rem;
}
.jiaj .jia{
    width: 1.18rem;
    height: 0.52rem;
    border-radius:0.26rem;
   background: #3bacfe;
    
    display: inline-block;
    color: #ffffff;
    text-align: center;
    line-height: 0.52rem;
    box-shadow: 0px 5px 12px 0px 
		rgba(59, 172, 254, 0.43);
}
.jiaj span{
    font-size: 0.24rem;
    color: #36a8fe;
    margin: 0 0.2rem;
}
.lij{
    width: 1.96rem;
    height: 0.6rem;
    border-radius:0.3rem;
   background: #3bacfe;
    font-size: 0.2rem;
  
    color: #ffffff;
    text-align: center;
    line-height: 0.6rem;
    float: right;
    margin:0.25rem 0rem 0 0.29rem;
    box-shadow: 0px 5px 12px 0px 
		rgba(59, 172, 254, 0.43);
}
.jiar{
    width: 1.96rem;
    height: 0.6rem;
    border-radius:0.3rem;
    background-image: linear-gradient(90deg, 
    #37e06f 0%, 
    #31d69a 100%);
   margin:0.25rem 0rem 0 0.29rem;
   font-size: 0.2rem;
    color: #ffffff;
    text-align: center;
    line-height: 0.6rem;
    float: right;
    box-shadow: 0px 4px 20px 0px 
		rgba(55, 223, 116, 0.75);
}
