*{
    margin:0;
    padding:0;
    list-style:none;
}



header{
    width:7.5rem;
    height:0.88rem;
    background-color:#FBFEFF;
    box-shadow: 0 0 0.26rem 0.04rem #ecf8ff;
    font-size:0.38rem;
    color:#4FBAFC;
    text-align:center;
    line-height:0.88rem;
    position:relative;
}
header .back{
    display:block;
    width:0.4rem;
    height:0.4rem;
    line-height:0.4rem;
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    left:0.24rem;
}
header .iconzuojiantou{
    font-size:0.4rem;
    color:#4FBAFC;
}


  




body{
    color:#fbfeff;
}
/* 导航栏开始 */
.xinxi{
    width:7.5rem;
    height:auto;
}
.hang .left .name{
    color:rgba(0,0,0,0.7);
}
.hang .you .red{
    font-size:0.36rem;
    color:#FD624D;
}

/*对话1*/
.l1{
    margin-top:1.54rem;
    height:1.14rem;
    width:7.5rem;
    padding:0 0.24rem;
    box-sizing:border-box;
}
.l1 .left{
    width:0.88rem;
    height:1.14rem;
    float:left;
}
.l1 .left img{
    width:0.8rem;
    height:0.8rem;
}
.l1 .left .name{
height:0.4rem;
text-align:center;
line-height:0.4rem;
color:#989898;
font-size:0.2rem;
}
.l1 .right{
    height:0.68rem;
    width:4.75rem;
    float:left;
    margin-left:0.24rem;
    margin-top:0.24rem;
    border-radius:0 0.4rem 0.4rem 0.4rem;
    background:-webkit-linear-gradient(left,#30a3fe,#6ed5fe); 
    background:linear-gradient(left,#30a3fe,#6ed5fe);
    text-align:center;
    line-height:0.68rem;
    font-size:0.24rem;
    color:white;
    box-sizing:border-box;
    overflow: hidden;

}

.l1 .right img{
    height:0.4rem;
    width:auto;
    padding-left:0.22rem;
    padding-top:0.16rem;
}
.l1 .right2{
    float:left;
    margin-left:0.2rem;
    margin-top:0.24rem;
    height:0.68rem;
    width:0.66rem;
    line-height:0.68rem;
    color:#6ad1fe;
    font-size:0.2rem;
}
/*对话2*/
.r1{
    margin-top:0.2rem;
    height:1.14rem;
    width:7.5rem;
    padding:0 0.24rem;
    box-sizing:border-box;
}
.r1 .right1{
    width:0.88rem;
    height:1.14rem;
    float:right;
}
.r1 .right1 img{
    width:0.8rem;
    height:0.8rem;
}
.r1 .right1 .name{
height:0.4rem;
text-align:center;
line-height:0.4rem;
color:#989898;
font-size:0.2rem;
}
.r1 .left1{
    height:0.68rem;
    width:2.86rem;
    float:right;
    margin-top:0.24rem;
    margin-right:0.24rem;
    border-radius:0.4rem 0 0.4rem 0.4rem;
    background:-webkit-linear-gradient(left,#2fd4ba,#2dde58); 
    background:linear-gradient(left,#2fd4ba,#2dde58);
    text-align:center;
    line-height:0.68rem;
    font-size:0.24rem;
    color:white;
}
/*输入框*/
.shur{
    height:0.98rem;
    width:7.5rem;
    position: fixed;
    bottom:0;
    background-color:#36a8fe;
    padding:0 0.24rem;
    box-sizing:border-box;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.shur .d{
    height:0.34rem;
    width:0.5rem;
    border-radius:0.1rem;
    background-color: white;
    margin-left:0.14rem;
    display:flex;
    align-items:center;
}
.shur .iconfont{
    color:#2993e3;
    font-size:0.5rem;
}
.shur .sr{
    height:0.56rem;
    width:5.2rem;
    outline:none;
    border:0.04rem solid #2993e3;
    border-radius:0.4rem;
}
.shur .yuan{
    width: 0.56rem;
    height: 0.56rem;
    border-radius: 50%;
   color:#6ed5fe;
}
